*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar{
    height: 10vh;
    width: 96rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    background-color: #FFFFFF;
}
.Tic{
    height: 10vh;
    width:104vmin;
    font-size: 50px;

}
.navigation{
    height: 10vh;
    width: 104vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

.darkmode,.lightmode, .colorchange{
    height: 3rem;
    width: 10rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: #364958;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    color: white;
}
h1{
    font-size:4rem;
}

.dark{
    background-image: url(background.jpg);
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.light{
    background-image: url(background2.jpg);
    background-position: center;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    height: 80vh;
    width: 80vh;
    /* border: 2px solid black; */
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #6B4D57;

}
.game{
    height: 70vh;
    width:67vmin;
    /* border: 1px solid black; */
    border-radius:10px ;
    background-color: #13070C;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.box{
    height:20vh;
    width: 20vh;
    background-color: #EFF9F0;
    border: 1px solid #ccc;
    margin: 2px;
    transition: background 0.1s;
    cursor:pointer;
    border-radius: 10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
    font-size: 8vh;
}
.box:hover:not(:disabled) {
  background: linear-gradient(135deg, #e0e0e0, #ffffff);
}

#reset{
    height: 3rem;
    width: 10rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: #364958;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    color: white;
}

#NewBtn{
    height: 3rem;
    width: 10rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: #364958;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    color: white;   
}

.hide{
    display: none !important ;
}
.message-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

p{
    color: white;
    font-size: 30px;
    transition-behavior:initial;
}